<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
<form [formGroup]="loginForm">
<div>
<!-- <label>שם</label> -->
<input (change)=setShowError() formControlName="name" placeholder="שם"/></div>
<div>
<!-- <label>סיסמה</label> -->
<input  type="password" (change)=setShowError() formControlName="password"placeholder="סיסמה"/></div>


    <div *ngIf="showError" style="color: red;">
        .הפרטים שהכנסת אינם נכונים. בדוק שוב
    </div>


<button (click)="checkUser2()">כניסה</button>

</form>		    </div>
</div>
</div>
</div>
</div>