
<form [formGroup]="newEmployeeForm">
<h1>הוספת עובד חדש</h1>
    <div class="form-group row">
        <label class="col-sm-1 col-form-label">
            שם
        </label>
        <div class="col-sm-3">
            <input formControlName="name" name="name"class="form-control"/>
        </div>
        
        <ng-container *ngIf="newEmployeeForm.controls.name.errors">
            <div *ngIf="newEmployeeForm.controls.name.errors.required" class="error-Massage">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label">
            טלפון
        </label>
        <div class="col-sm-3">
            <input formControlName="phone" name="phone" class="form-control"/>
        </div>
       
        <ng-container *ngIf="newEmployeeForm.controls.phone.errors">
            <div *ngIf="newEmployeeForm.controls.phone.errors.required"  class="error-Massage">
                השדה הוא שדה חובה
            </div>
            <div *ngIf="newEmployeeForm.controls.phone.dirty&&newEmployeeForm.controls.phone.errors.minLength">
                לפחות 9 ספרות
            </div>
        </ng-container>
    </div>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label">
            מייל
        </label >
        <div class="col-sm-3">
            <input formControlName="email" name="mail" class="form-control"/>
        </div>
       
        <ng-container *ngIf="newEmployeeForm.controls.email.errors">
            <div *ngIf="newEmployeeForm.controls.email.errors.required" class="error-Massage">
                השדה הוא שדה חובה
            </div>
            <div *ngIf="newEmployeeForm.controls.email.dirty&&newEmployeeForm.controls.email.errors.email" class="error-Massage">
                מייל לא תקין
            </div>

        </ng-container>
    </div>

    <div class="form-group row">
        <!-- <div class="input-group mb-3"> -->
            <label class="col-sm-1 col-form-label">
                תפקיד
            </label >
            <div class="col-sm-3">
                <select name="role" formControlName="role"  class="form-control ">
                    <option *ngFor="let role of roles" [value]="role">{{role|translate}}</option>
                  </select>
            </div>
      
    <!-- </div> -->
</div>

<br>

    <button (click)="submit()" [disabled]="newEmployeeForm.invalid" class="btn btn-dark" >אישור</button>

</form>
