<form [formGroup]="newPatientForm">
    
    <div>
        <label>
            שם
        </label>
        <input formControlName="name" name="name" />
        <ng-container *ngIf="newPatientForm.controls.name.errors">
            <div *ngIf="newPatientForm.controls.name.errors.required">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>

    <div>
        <label>
            טלפון
        </label>
        <input formControlName="phone" name="phone" />
        <ng-container *ngIf="newPatientForm.controls.phone.errors">
            <div *ngIf="newPatientForm.controls.phone.errors.required">
                השדה הוא שדה חובה
            </div>
            <div *ngIf="newPatientForm.controls.phone.errors.pattern">
                ספרות בלבד
            </div>
            <div *ngIf="newPatientForm.controls.phone.errors.minLength">
                לפחות 9 ספרות
            </div>
        </ng-container>
    </div>

   

   <button (click)="savePatient()">שמור</button>
</form>