<form [formGroup]="newEmployeeForm">

    <div>
        <label>
            שם
        </label>
        <input formControlName="name" name="name" />
        <ng-container *ngIf="newEmployeeForm.controls.name.errors">
            <div *ngIf="newEmployeeForm.controls.name.errors.required">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>

    <div>
        <label>
            טלפון
        </label>
        <input formControlName="phone" name="phone" />
        <ng-container *ngIf="newEmployeeForm.controls.phone.errors">
            <div *ngIf="newEmployeeForm.controls.phone.errors.required">
                השדה הוא שדה חובה
            </div>
            <div *ngIf="newEmployeeForm.controls.phone.errors.pattern">
                ספרות בלבד
            </div>
            <div *ngIf="newEmployeeForm.controls.phone.errors.minLength">
                לפחות 9 ספרות
            </div>
        </ng-container>
    </div>

    <div>
        <label>
            מייל
        </label>
        <input formControlName="email" name="mail" />
        <ng-container *ngIf="newEmployeeForm.controls.email.errors">
            <div *ngIf="newEmployeeForm.controls.email.errors.required">
                השדה הוא שדה חובה
            </div>
            <div *ngIf="newEmployeeForm.controls.email.errors.email">
                מייל לא תקין
            </div>

        </ng-container>
    </div>

    <div>
        <select name="role" formControlName="role" >
            <!-- <option  >בחר מתוך רשימה</option> -->
            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
          </select>
    </div>
<button (click)="s()">asdasd</button>
    <button (click)="submit()" [disabled]="newEmployeeForm.errors!==null" >אישור</button>
</form>