<form [formGroup]="newTreatmentForm">
    
    <div>
        <label>
   תאריך
        </label>
        <input formControlName="date" name="date" type="date" />
        <ng-container *ngIf="newTreatmentForm.controls.date.errors">
            <div *ngIf="newTreatmentForm.controls.date.errors.required">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>

    <div>
        <label>
            שעה
        </label>
        <input formControlName="time" name="time" type="time" />
        <!-- step="15" min="07:00" max="18:00" -->
        <ng-container *ngIf="newTreatmentForm.controls.time.errors">
            <div *ngIf="newTreatmentForm.controls.time.errors.required">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>

    <div>
        <select formControlName="type" >
            <!-- <option  >בחר מתוך רשימה</option> -->
            <option *ngFor="let t of types" [value]="t">{{t}}</option>
          </select>
          <ng-container *ngIf="newTreatmentForm.controls.type.errors">
            <div *ngIf="newTreatmentForm.controls.type.errors.required">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>
    <div>
        <label>סטטוס</label>
<select formControlName="status"  >
     <option *ngFor="let s of statuses" [value]="s">{{s}}</option>
  </select>   <ng-container *ngIf="newTreatmentForm.controls.status.errors">
    <div *ngIf="newTreatmentForm.controls.status.errors.required">
        השדה הוא שדה חובה
    </div>
</ng-container>
    </div>
<button (click)='saveAppointment()' [disabled]="newTreatmentForm.errors!==null" >שמור</button>
<!-- <button (click)='save()' disabled="newTreatmentForm.invalid">שמור</button> -->


    </form>