<form [formGroup]="newTreatmentForm">

    <h1>הוספת טיפול חדש</h1>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label">
            תאריך
        </label>
        <div class="col-sm-3">
            <input formControlName="date" name="date" type="date" class="form-control" />
        </div>

        <ng-container *ngIf="newTreatmentForm.dirty&&newTreatmentForm.controls.date.errors">
            <div *ngIf="newTreatmentForm.controls.date.errors.required" class="error-Massage">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>


    <div class="form-group row">
        <label class="col-sm-1 col-form-label">
            שעה
        </label>
        <div class="col-sm-3">
            <input formControlName="time" name="time" type="time" class="form-control" />
        </div>

        <!-- step="15" min="07:00" max="18:00" -->
        <ng-container *ngIf="newTreatmentForm.dirty&&newTreatmentForm.controls.time.errors">
            <div *ngIf="newTreatmentForm.controls.time.errors.required" class="error-Massage">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>

    <div class="form-group row">
        <div class="input-group mb-3">
            <label class="col-sm-1 col-form-label">
                סוג
            </label>

            <div class="col-sm-3">
                <select formControlName="type" class="form-control ">
                    <!-- <option  >בחר מתוך רשימה</option> -->
                    <option *ngFor="let t of types" [value]="t">{{t}}</option>
                </select>
            </div>

        </div>
        <ng-container *ngIf="newTreatmentForm.dirty&&newTreatmentForm.controls.type.errors">
            <div *ngIf="newTreatmentForm.controls.type.errors.required" class="error-Massage">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>

    <div class="form-group row">
        <div class="input-group mb-3">
            <label class="col-sm-1 col-form-label">סטטוס</label>
            <div class="col-sm-3">
                <select formControlName="status" class="form-control">
                    <option *ngFor="let s of statuses" [value]="s">{{s}}</option>
                </select>
            </div>


        </div>
        <ng-container *ngIf="newTreatmentForm.dirty&&newTreatmentForm.controls.status.errors">


            <div class="error-Massage" *ngIf="newTreatmentForm.controls.status.errors.required">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>


    <br>
    <button (click)='saveAppointment()' [disabled]="newTreatmentForm.invalid" class="btn btn-dark">שמור</button>
    <!-- <button (click)='save()' disabled="newTreatmentForm.invalid">שמור</button> -->


</form>