<div *ngIf="!ableSet" (click)="setAbleSet(true)">{{appointment.patientId}} {{appointment.type}} {{appointment.time }}
  {{appointment.date |dateFormat}} </div>

<div *ngIf="ableSet">

  <label>יום</label>
  <input type="date" [(ngModel)]="appointment.date"/>


  <label>שעה</label>
  <input type="time" [(ngModel)]="appointment.time" />
 

  <label>סוג</label>
  <select [(ngModel)]="appointment.type">
    <option *ngFor="let t of types" >{{t}}</option>
  </select>

  <label>סטטוס</label>
  <select [(ngModel)]="appointment.status">
    <!-- <option  >בחר מתוך רשימה</option>  -->
    <option *ngFor="let s of statuses" value="s">{{s}}</option>
    <!-- [value]="s" -->
  </select>

  <button (click)="save()">אישור</button>

</div>