<form [formGroup]="newPatientForm">
    
    <div>
        <label>
            שם
        </label>
        <input formControlName="name" name="name" />
        <ng-container *ngIf="newPatientForm.controls.name.errors">
            <div *ngIf="newPatientForm.controls.name.errors.required">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>

    <div>
        <label>
            מספר זהות
        </label>
        <input formControlName="identity" name="identity" />
        <ng-container *ngIf="newPatientForm.controls.identity.errors">
            <!-- <div *ngIf="newPatientForm.controls.identity.errors.required">
                השדה הוא שדה חובה
            </div>
            <div *ngIf="newPatientForm.controls.identity.errors.minLength ||newPatientForm.controls.identity.errors.maxLength">
                
            </div> -->מספר לא תקין
        </ng-container>
    </div>

    <div>
        <label>
            טלפון
        </label>
        <input formControlName="phone" name="phone" />
        <ng-container *ngIf="newPatientForm.controls.phone.errors">
            <div *ngIf="newPatientForm.controls.phone.errors.required">
                השדה הוא שדה חובה
            </div>
            <div *ngIf="newPatientForm.controls.phone.errors.pattern">
                ספרות בלבד
            </div>
            <div *ngIf="newPatientForm.controls.phone.errors.minLength">
                לפחות 9 ספרות
            </div>
        </ng-container>
    </div>

    <div *ngIf="doctors.length">
        <label>רופא</label>
<select formControlName="doctor"  >
     <option *ngFor="let d of doctors">{{d.name}}</option>
  </select>   <ng-container *ngIf="newPatientForm.controls.doctor.errors">
    <div *ngIf="newPatientForm.controls.doctor.errors.required">
        השדה הוא שדה חובה
    </div>
</ng-container>
    </div>

   <button (click)="savePatient()">שמור</button>
</form>