


svg:hover{
    color: white;
    background-color:black;
    transform: scale(1.2);
    box-shadow: 0 0 4px #111;
    transition: .3s;
    border-radius: 5%;
}
h1{
    text-align: center;
    margin: 5%;
}

th,td{
    text-align: center;
}

tr:hover{
    border: black solid 2px;
    background-color: rgb(193, 189, 189);
}
