<table class="table table-hover">
    <thead>
        <th>מספר</th>
        <th>שם</th>
        <th>טלפון</th>
        <th>מייל</th>
        <th>תפקיד</th>
        <th></th>
    </thead>
    <tbody *ngFor="let employee of employees; index as i">
        <tr [GoToEmployee]=employee>
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.phone}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.role | translate}}</td>
        <td><button className="destroy"(click)="deleteEmployee(employee.id)"></button></td>

           
    </tbody>
</table>
<button (click)=addEmp()>הוסף עובד</button>