<form [formGroup]="newAppointmentForm">

    <h1>הוספת טיפול חדש</h1>

    <div class="form-group row">
        <label class="col-sm-1 col-form-label">
            תאריך
        </label>
        <div class="col-sm-3">
            <input formControlName="date" name="date" type="date" class="form-control" />
        </div>

        <ng-container *ngIf="newAppointmentForm.dirty&&newAppointmentForm.controls.date.errors">
            <div *ngIf="newAppointmentForm.controls.date.errors.required" class="error-Massage">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>


    <div class="form-group row">
        <label class="col-sm-1 col-form-label">
            שעה
        </label>
        <div class="col-sm-3">
            <input formControlName="time" name="time" type="time" class="form-control" />
        </div>

        <ng-container *ngIf="newAppointmentForm.dirty&&newAppointmentForm.controls.time.errors">
            <div *ngIf="newAppointmentForm.controls.time.errors.required" class="error-Massage">
                השדה הוא שדה חובה
            </div>
              <div *ngIf="newAppointmentForm.controls.time.errors.min||newAppointmentForm.controls.time.errors.max" class="error-Massage">
              שעה לא חוקית
            </div>
        </ng-container>
    </div>

    <div class="form-group row">
        <div class="input-group mb-3">
            <label class="col-sm-1 col-form-label">
                סוג
            </label>

            <div class="col-sm-3">
                <select formControlName="type" class="form-control ">
                    <option *ngFor="let t of types" [value]="t">{{t}}</option>
                </select>
            </div>

        </div>
        <ng-container *ngIf="newAppointmentForm.dirty&&newAppointmentForm.controls.type.errors">
            <div *ngIf="newAppointmentForm.controls.type.errors.required" class="error-Massage">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>

    <div class="form-group row">
        <div class="input-group mb-3">
            <label class="col-sm-1 col-form-label">סטטוס</label>
            <div class="col-sm-3">
                <select formControlName="status" class="form-control">
                    <option *ngFor="let s of statuses" [value]="s">{{s}}</option>
                </select>
            </div>


        </div>
        <ng-container *ngIf="newAppointmentForm.dirty&&newAppointmentForm.controls.status.errors">
            <div class="error-Massage" *ngIf="newAppointmentForm.controls.status.errors.required">
                השדה הוא שדה חובה
            </div>
        </ng-container>
    </div>


    <br>
    <button (click)='saveAppointment()' [disabled]="newAppointmentForm.invalid" class="btn btn-dark">שמור</button>


</form>