.form-item {
  margin: 8%;
}

.error-Massage {
  margin-right: 38%;
  color: red;
  margin-top: 4%;
}

.row {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.form-container {
 // margin-top: calc(-1 * var(--bs-gutter-y));
 // margin-right: calc(-.5 * var(--bs-gutter-x));
 // margin-left: calc(-.5 * var(--bs-gutter-x));
  justify-content: flex-start;
  align-content: space-around;
  display: flex;
  border: #6c757d 2px solid;
  border-radius: 5%;
  width: 50vw;
  height: 50vh;
  flex-direction: column;
  display: flex;

}

#div1 {
  margin-top: 5%;
}